@import "../../styles/global.scss";

.input_container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 425px;

  .label {
    font-weight: 500;
    font-size: 14px;
    color: $input-color;
    padding: 0.5rem 0;
    width: 100%;
    color: $input-label-color;
  }

  &.input_has_error {
    .input {
      border-color: $input-error-text;
      box-shadow: 0 0 0 1px $input-error-text;

      &:hover {
        border-color: $input-error-text;
        box-shadow: 0 0 0 1px $input-error-text;
      }

      &:focus {
        border-color: $input-box-shadow-color;
        box-shadow: 0 0 4px 1px rgb(0 208 228 / 30%),
          0 0 0 1px $input-border-hover-color;
        outline: 0;
      }
    }
  }

  &.input_variant.line.input_has_error {
    .input {
      border-bottom: 1px solid $input-error-text;
      box-shadow: none;
    }
  }

  .input {
    border-radius: 3px;
    border: 1px solid $input-border-color;
    transition: all 0.15s ease-out;
    background-color: $input-bg-color;
    color: $input-color;
    display: block;
    text-align: left;
    padding-left: 7px;
    font-weight: 300;

    &::placeholder {
      margin-left: 5px;
      font-size: 16px;
      transition: all .15s ease-out;
      color: $border-value-border-color;
    }

    &:hover,
    &:focus {
      border-color: $input-box-shadow-color;
      box-shadow: 0 0 4px 1px rgb(0 208 228 / 30%),
        0 0 0 1px $input-border-hover-color;
      outline: 0;
    }

    &.input_full_width {
      width: 100%;
      max-width: 100%;
    }

    &.input_has_icon_position.left {
      padding-left: 35px;

      &:placeholder {
        margin-left: 35px;
      }
    }

    &.input_has_icon_position.right {
      padding-right: 35px;
    }

    @mixin input_size($height, $line-height, $font-size) {
      height: $height;
      line-height: $line-height;
      font-size: $font-size;
    }
  
    &.input.xs {
      @include input_size(25px, 18px, 14px);
    }
  
    &.input.sm {
      @include input_size(40px, 22px, 16px);
    }
  
    &.input.md {
      @include input_size(50px, 24px, 18px);
    }
  }

  &.input_variant.line {
    .input {
      border: none;
      background-color: inherit;
      transition: all 0.1s ease-out;
      outline: 0;
      border-radius: 0;
      transition: border-bottom 0.2s ease-out 0.1ms;
      color: $input-color;
      border-bottom: 1px solid transparent;
      font-size: 14px;
      font-weight: 300;

      &::placeholder {
        margin-left: 0;
      }

      &:hover {
        box-shadow: none;
        border-bottom: 1px solid $dark-green;
      }

      &:focus {
        box-shadow: none;
        border-bottom: 1px solid $dark-green;
      }
    }

    .label {
      font-weight: 200;
      font-size: 12px;
      position: absolute;
      top: 5px;
      left: 6px;
      transition: top 0.2s ease-out 0.1ms;
      color: $grey-hover  !important;
      font-weight: 300;
    }

    &:hover {
      .label {
        top: -20px;
      }
    }

    &:has(input:not([value=""])) {
      .label {
        top: -20px;
      }
    }

    &:has(input:focus) {
      .label {
        top: -20px;
      }
    }
  }

  .icon_input_box {
    position: absolute;
    top: 17%;

    svg {
      width: 21px;
    }
  }

  .icon_input_box.with_label {
    top: 50% !important;
  }

  .icon_input_box.right {
    right: 2%;
  }

  .icon_input_box.left {
    left: 2%;
  }

  .error_label {
    color: $input-error-text;
    font-size: 12px;
    padding: 6px 0;
  }
}
