// Colors
$white: #fff;
$dark: #000;
$light-orange: #fef8f6;
$light-grey: #506e91;
$dark-green: #0091ae;
$dark-grey: #33475c;
$orange: #ff7a53;

$orange-bg: #ff5c35;
$grey-bg: #425b76;

$light-grey-bg: #eaf0f6;
$white-bg: #fff;

$orange-hover: #fccec2;
$grey-hover: #516f90;
$light-grey-hover: #f5f8fa;

$white-hover-border: #00a4be;

$input-border-color: #cbd6e2;
$input-color: #33475b;
$input-bg-color: #f5f8fa;
$input-border-hover-color: #25d7e9;
$input-box-shadow-color: rgba(0, 208, 228, 0.5);
$input-error-text: #f2545b;
$input-label-color: #3f5165;

$side-bar-header-bg-color: #00bda5;
$side-bar-footer-bg-color: #f5f8fa;
$side-bar-header-gradient-color: linear-gradient(
  -303deg,
  #00a4bd,
  #00afb2 56%,
  #00bda5
);
$side-bar-footer-border-color: rgb(203, 214, 226);

$select-label-color: #1e7b8c;
$select-label-hover-color: #e5f5f8;
$select_arrow_icon-color: #0092af;
$border-value-border-color: #7c98b6;

$wrapper-border-color: #dfe3eb;

$check_box_color: #00a4bd;

$dropdown-placeholder-color: #7c99b6;

$selected-date-color: #e58352;
$date-label-color: #33485b;
$copy-hover-button-color: #007a8c;

$accordion-icon-color: #2ba4bd;
